       {% for movie in result %}
                <div class="col mb-5 col-sm-12">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                            CATEGORY
                        </div>
                        <!-- Product image-->
                        <div class="img-thumbnail">
                        <img class="card-img-top-poster"
                             src="{{ url_for('pages.return_manifest',
                              file_name=movie.directory_path+"/"+movie.thumbnail )}}"
                             alt={{ movie.title }}/>
                        </div>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ movie.title }}</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted">{{ movie.description[:30] }}</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto"
                                   href="{{ url_for('pages.movie_detail',movie_id=movie.id) }}">Watch...</a></div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto"
                                   href="{{ url_for('pages.movie_detail',movie_id=movie.id) }}">Watch...</a></div>
                        </div>
                    </div>
                </div>
            {% endfor %}