<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>NooBot | نوبات</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/css/home.css" rel="stylesheet"/>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">NooBot</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>

                {% if user != None %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                       <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item"href="/panel">Panel</a></li>
                        <li><hr class="dropdown-divider"/></li>
                        <li><a class="dropdown-item active" href="/panel/upload">Upload</a></li>
                        <li><hr class="dropdown-divider"/></li>
                        <li><a class="dropdown-item" href="#!" >Play lists</a></li>
                        <li><hr class="dropdown-divider"/></li>
                        <li><a class="dropdown-item" style="color:red" href="/auth/logout" >Logout</a></li>
                    </ul>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="/panel">Login/Register</a></li>

                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Movies</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Movie</a></li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li><a class="dropdown-item" href="#!">Play lists</a></li>
                    </ul>
                </li>
            </ul>
            {#            <form class="d-flex">#}
            {#                <button class="btn btn-outline-dark" type="submit">#}
            {#                    <i class="bi-cart-fill me-1"></i>#}
            {#                    Cart#}
            {#                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>#}
            {#                </button>#}
            {#            </form>#}
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Noob Streamer</h1>
            <p class="lead fw-normal text-white-50 mb-0">Start stream your video...</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row justify-content-center">
            <h3 style="margin: 20px;"> Upload your movie</h3>
            <div class="container card" style="padding: 20px;">
                <form method="POST" enctype="multipart/form-data" action="{{ form_action }}">
                    <div class="form-group">
                        <label for="movieFile">Movie File</label>
                        <input type="file" class="form-control-file" id="movieFile" name="movieFile">
                    </div>
                    <div class="form-group">
                        <label for="thumbnailFile">Thumbnail</label>
                        <input type="file" class="form-control-file" id="thumbnailFile" name="thumbnailFile">
                    </div>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark my-footer">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Noobot.ir</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
</body>
</html>